<header class="header">
  <nav class="nav navbar-inverse navbar-fixed-top" role="navigation">
    <img src="../../../favicon.ico" class="navbar-brand">
    <a class="navbar-brand" href="#">Mad</a>
    <div class="collapse navbar-collapse head">
      <ul class="nav navbar-nav navbar-right ul-nav">
        <li><a href="#" class="">Home</a></li>
        <li><a href="#/login" class="">Login</a></li>
        <li><a href="#/signup" class="">Register</a></li>
      </ul>
    </div>
  </nav>
</header>
