<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="navbar-link jx-dividing-line"><a href="#">首页</a></li>
      <li class="active dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">广告管理<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <div class="row">
              <a href="" class="col-sm-offset-1 navbar-link active">发布新广告</a>
            </div>
          </li>
          <li>
            <div class="row">
              <a href="" class="col-sm-offset-1 navbar-link">已发布广告</a>
            </div>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">支付管理<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <div class="row">
              <a href="" class="col-sm-offset-1 navbar-link">账户充值</a>
            </div>
          </li>
          <li>
            <div class="row">
              <a href="" class="col-sm-offset-1 navbar-link">账户退款</a>
            </div>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">统计<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <div class="row">
              <a href="" class="col-sm-offset-1 navbar-link">账务对账</a>
            </div>
          </li>
          <li>
            <div class="row">
              <a href="" class="col-sm-offset-1 navbar-link">广告统计</a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <div class="navbar-header navbar-right ul-nav">
      <ul class="nav navbar-nav">
        <li class="active navbar-link"><a href="#" ng-init="name='霍腾'" ng-bind="name"></a></li>
        <li><a href="#" class="navbar-link">消息管理</a></li>
      </ul>
    </div>
  </div>
</nav>

