<nav class="navbar navbar-inverse">
  <div class="navbar-collapse collapse test1">
    <ul class="nav navbar-nav">
      <li class="navbar-link"><a href="#">首页</a></li>
      <li class="dropdown" ng-class="{active: isManage}">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">广告管理<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{active: isPush}">
              <a href="#/push-ad">发布新广告</a>
          </li>
          <li ng-class="{active: isList}">
              <a href="#/ad-list">已发布广告</a>
          </li>
        </ul>
      </li>
      <li class="dropdown" ng-class="{active: isPay}">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">支付管理<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{active: isPut}">
              <a href="#/recharge" class="">账户充值</a>
          </li>
          <li ng-class="{active: isBack}">
              <a href="#/refund" class="">账户退款</a>
          </li>
        </ul>
      </li>
      <li class="dropdown" ng-class="{active: isStatistics}">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">统计<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{active: isAccount}">
              <a href="#/ck-account" class="col-sm-offset-1">账务对账</a>
          </li>
          <li ng-class="{active: isAdSta}">
              <a href="#/ad-statistics" class="col-sm-offset-1">广告统计</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="navbar-header navbar-right test2">
      <ul class="nav navbar-nav">
        <li class="active navbar-link"><a href="#" ng-init="name='霍腾'" ng-bind="name"></a></li>
        <li><a href="#/msg-notification" class="navbar-link">消息管理</a></li>
      </ul>
    </div>
  </div>
</nav>

