.lsr-container {
  width: 100%;
  height: 700px;
  background-color: #ffffff;
  font-family: Microsoft YaHei, sans-serif;
  margin-top: 50px;
}
.lsr-table-head{
  float: right;
  cursor: pointer;
}
.lsr-table{
  background-color: #ffffff;
}
.lsr-btn{
  margin-bottom: 5%;
}

.lsr-p-position{
  margin-top: 5px;
}
