body {
  /*background-color: #9DC9C1;*/
}

.header {
  position: absolute;
}

.ul-nav {
  padding-right: 10px;
}
.content{
  margin-top: 200px;
}
.ht-login-box {
    margin-top: 60px;
    padding: 40px 0px;
    background-color: #D4E8E5;
    border-radius: 8px;
}
.ht-login-box>form {
    width: 330px;
    margin: 0 auto;
}
