<acme-navbar></acme-navbar>

<div class="container">
  <div class="row content">
    <div class="col-sm-offset-1 col-sm-4 left-section">
      <img class="picture" src="../../favicon.ico">
      <div class="ad">
        <p>Mobile<br></p>
        <p>Advertisement</p>
      </div>
    </div>
    <div class="col-sm-6 right-section">
      <form role="form">
        <div class="input-group email-input">
          <span class="input-group-addon" id="basic-addon1"><img src="../../assets/images/邮箱.png"></span>
          <input type="email" class="form-control form-email" placeholder="邮箱" aria-describedby="basic-addon1" ng-model="email">
        </div>
        <div class="input-group pass-input">
          <span class="input-group-addon" id="basic-addon2"><img src="../../assets/images/密码.png"></span>
          <input type="password" class="form-control form-pass" placeholder="密码" aria-describedby="basic-addon2" ng-model="password">
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <button class="btn  sub-btn" type="submit">登录</button>
          </div>
          <div class="col-sm-6 choose">
            <a href="#" class="a-1"><span class="glyphicon glyphicon-arrow-left"></span>没有账号？现在注册</a><br>
            <a href="#" class="a-2"><span>忘记密码</span></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

