.navbar {
  height: 58px;
  border-radius: 0;
  z-index: 20;
}

.navbar-nav {
  margin-top: 4px;
}

a.navbar-brand {
  margin-top: 14px;
  width: 100px;
  height: 30px;
  background-image: url('../../../assets/images/logo.png');
  background-size: 77px 30px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  a.navbar-brand {
    margin-left: 20px;
  }
  .btn-signin,
  .btn-signup {
    margin-left: 3px;
  }
}

@media screen and (max-width: 1000px) {
  a.navbar-brand {
    margin-left: 40px;
  }
  .btn-signin,
  .btn-signup {
    margin-left: 5px;
  }
  .btn-signin {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .nav-margin-left {
    margin-left: 15%;
  }
  a.navbar-brand {
    margin-left: 120px;
  }
  .nav-margin-right {
    margin-right: 10%;
  }
  .btn-signin,
  .btn-signup {
    margin-left: 10px;
  }
}

a.navbar-brand:hover{
  background-image: url('../../../assets/images/logo2.png');
}

.navbar-collapse {
  background-color: #222;
}


/* Custom sign up button */
.btn-signup {
  color: #333;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

.btn-signup:hover {
  background-color: #fff;
}

/*Custom sign in button*/
.btn-signin {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

.btn-signin:active,
.btn-signin:hover {
  color: #fff;
  border: 1px solid #fff;
}

.jx-signup {
  height: auto;
  width: 100%;
  background-color: #9DC9C1;
}
.ht-icon-box {
  padding: 40px 0;
}
.ht-icon-box img {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ht-input-box {
  padding: 40px 0px;
  background-color: #D4E8E5;
  border-radius: 8px;
}
.ht-input-box>form {
  width: 80%;
  margin: 0 auto;
}
.ht-input {
  margin-bottom: 15px;
}
.ht-input img {
  width: 18px;
}
.ht-signup-btn {
  width: 130px;
  background-color: #FFA300;
  color: #ffffff;
  font-size: large;
  height: 40px;
}
.ht-signup-btn:not([disabled]):hover {
  background-color: #E98C00;
  color: #FFFFFF;
}
.ht-signup-btn[disabled] {
  color : rgba(0, 0, 0, 0.26);
  background-color: #FFFFFF;
}
.ht-input>*  {
  background-color: #fff;
  border: 0px;
  border-radius: 6px;
  height: 45px;
  box-shadow: 0px 0px 0px #ffffff;
}
.ht-group {
  margin-top: 20px;
}
.ht-group>* {
  padding: 0px;
}
.ht-group a {
  text-decoration: underline;
  color: #82B9AD;
}
.ht-group a:hover {
  color: #FFFFFF;
}

.xmd-btn-register {
  width: 100%;
}

.xmd-content {
  margin: 10% 5%;
}

.xmd-modal-content {
  background-color: #AFD4CE;
}

@media screen and (max-width: 750px) {
  .xmd-right-content {
    margin-top: 10%;
  }
}

@media screen and (min-width: 750px) {
  .xmd-left-content {
    margin-top: 7%;
  }
}

.xmd-form {
  width: 80%;
  margin-left: 10%;
}
