<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="app"></a>
  </div>
  <div class="navbar-collapse collapse nav-margin-left" id="navbar">
    <ul class="nav navbar-nav">
      <li class="" ng-class="{'active': isMain}"><a ui-sref="app" ui-sref-opts="{reload: true}">首页</a></li>
      <li class="dropdown" ng-class="{'active': isManage}">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">广告管理<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{'active': isPush}">
              <a ui-sref="app.advert.push" ui-sref-opts="{reload: true}">发布新广告</a>
          </li>
          <li ng-class="{'active': isList}">
              <a ui-sref="app.advert" ui-sref-opts="{reload: true}">已发布广告</a>
          </li>
        </ul>
      </li>
      <li class="dropdown" ng-class="{'active': isPay}">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">账户管理<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{'active': isPut}">
              <a ui-sref="app.account.recharge" ui-sref-opts="{reload: true}">账户充值</a>
          </li>
          <li ng-class="{'active': isBack}">
              <a ui-sref="app.account.refund" ui-sref-opts="{reload: true}">账户退款</a>
          </li>
          <li ng-class="{'active': isConfirm}">
              <a ui-sref="app.account.check" ui-sref-opts="{reload: true}">账户验证</a>
          </li>
        </ul>
      </li>
      <li class="dropdown" ng-class="{active: isStatistics}">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">统计<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{active: isAccSta}">
              <a ui-sref="app.statistics" ui-sref-opts="{reload: true}">账务对账</a>
          </li>
          <li>
          <li ng-class="{active: isAdSta}">
              <a ui-sref="app.statistics.detail" ui-sref-opts="{reload: true}">广告统计</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="navbar-header navbar-right nav-margin-right">
      <ul class="nav navbar-nav" ng-show="isMain">
        <button type="button" class="btn btn-signup navbar-btn" data-toggle="modal" data-target="#signup">注册</button>
        <button type="button" class="btn btn-signin navbar-btn" data-toggle="modal" data-target="#login">登录</button>
      </ul>
      <ul class="nav navbar-nav" ng-hide="isMain">
        <li class="navbar-link" ng-class="{active: isAccount}"><a ui-sref="app.account" ui-sref-opts="{reload: true}" ng-init="name='霍腾'" ng-bind="name"></a></li>
        <li ng-class="{active: isMsg}"><a ui-sref="app.notification" class="navbar-link" ui-sref-opts="{reload: true}">消息管理</a></li>
        <li><a ui-sref="app.login"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

<!--注册modal-->
    <div id="signup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content xmd-modal-content">
              <div class="xmd-content">
                <div class="row">
                  <div class="col-md-offset-1 col-md-4 col-sm-5 col-xs-offset-1 col-xs-10 xmd-left-content">
                    <img src="assets/images/favicon.ico" class="img-responsive">
                    <img src="assets/images/mad.png" class="img-responsive">
                  </div>
                  <div class="col-md-offset-1 col-md-6 col-sm-6 col-xs-12 xmd-right-content">
                    <div class="ht-input-box">
                      <form role="form" class="xmd-form">
                        <div class="form-group">
                          <div class="input-group ht-input">
                            <span class="input-group-addon"><img src="assets/images/nickname.png"></span>
                            <input type="password" class="form-control" placeholder="昵称" aria-describedby="basic-addon2" ng-model="nickname">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group ht-input">
                            <span class="input-group-addon"><img src="assets/images/email.png"></span>
                            <input type="password" class="form-control" placeholder="邮箱" aria-describedby="basic-addon2" ng-model="email">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group ht-input">
                            <span class="input-group-addon"><img src="assets/images/password.png"></span>
                            <input type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon2" ng-model="password">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group ht-input">
                            <span class="input-group-addon"><img src="assets/images/confirm.png"></span>
                            <input type="password" class="form-control" placeholder="确认密码" aria-describedby="basic-addon2" ng-model="passConfirm">
                          </div>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-warning btn-lg xmd-btn-register" ng-click="register()">注册</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

              </div>
            </div>
        </div>
    </div>

<!--登录modal-->
    <div id="login" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
        <div class="modal-dialog modal-lg">
          <div class="modal-content xmd-modal-content">
            <div class="xmd-content">
              <div class="row">
                <div class="col-md-offset-1 col-md-4 col-sm-5 col-xs-offset-1 col-xs-10 xmd-left-content">
                  <img src="assets/images/favicon.ico" class="img-responsive">
                  <img src="assets/images/mad.png" class="img-responsive">
                </div>
                <div class="col-md-offset-1 col-md-6 col-sm-6 col-xs-12 xmd-right-content">
                  <div class="ht-input-box">
                    <form role="form" class="xmd-form">
                      <div class="form-group">
                        <div class="input-group ht-input">
                          <span class="input-group-addon"><img src="assets/images/email.png"></span>
                          <input type="password" class="form-control" placeholder="邮箱" aria-describedby="basic-addon2" ng-model="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group ht-input">
                          <span class="input-group-addon"><img src="assets/images/confirm.png"></span>
                          <input type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon2" ng-model="password">
                        </div>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-warning btn-lg xmd-btn-register">登录</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>
