<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href=""></a>
  </div>
  <div class="navbar-collapse collapse nav-margin-left" id="navbar">
    <ul class="nav navbar-nav">
      <li class="navbar-link"><a ui-sref="app">首页</a></li>
      <li class="dropdown" ng-class="{active: isManage}">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">广告管理<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{active: isPush}">
              <a ui-sref="app.advert.push">发布新广告</a>
          </li>
          <li ng-class="{active: isList}">
              <a ui-sref="app.advert">已发布广告</a>
          </li>
        </ul>
      </li>
      <li class="dropdown" ng-class="{active: isPay}">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">账户管理<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{active: isPut}">
              <a ui-sref="app.account.recharge" class="">账户充值</a>
          </li>
          <li ng-class="{active: isBack}">
              <a ui-sref="app.account.refund" class="">账户退款</a>
          </li>
          <li ng-class="{active: isBack}">
              <a ui-sref="app.account.check" class="">账户验证</a>
          </li>
        </ul>
      </li>
      <li class="dropdown" ng-class="{active: isStatistics}">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">统计<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{active: isAccount}">
              <a ui-sref="app.statistics">账务对账</a>
          </li>
          <li>
          <li ng-class="{active: isAdSta}">
              <a ui-sref="app.statistics.detail">广告统计</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="navbar-header navbar-right nav-margin-right">
      <ul class="nav navbar-nav">
        <li class="navbar-link"><a href="#" ng-init="name='霍腾'" ng-bind="name"></a></li>
        <li><a ui-sref="app.notification" class="navbar-link">消息管理</a></li>
        <li><a href=""><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
