/* Carousel base class */
.carousel {
  height: 460px;
  margin-bottom: 60px;
  margin-top: -20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 460px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.carousel-caption {
  bottom: 170px;
}

@media screen and (max-width: 978px) {
  .carousel {
    height: 332px;
  }
  .carousel .item {
    height: 332px;
  }
  .carousel-caption {
    bottom: 20px;
  }
}

@media screen and (max-width: 712px) {
  .carousel {
    height: 249px;
    margin-bottom: 0px;
  }
  .carousel .item {
    height: 249px;
  }
}

@media screen and (max-width: 533px) {
  .carousel {
    height: 180px;
    margin-bottom: 0px;
  }
  .carousel .item {
    height: 180px;
  }
  .carousel-caption {
    bottom: 10px;
  }
  .carousel-indicators {
    bottom: 0px;
  }
  .line {
    width: 90%;
    margin-left: 5%;
  }
  .search input[type="submit"] {
    width: 90%;
  }

  /*.search input[type="text"]*/
  textarea {
    width: 90%;
  }

  h1 {
    font-size: 16px;
  }
  p {
    font-size: 8px;
  }
}

@media screen and (min-width: 533px) {
  p {
    font-size: 15px;
  }
  .cover {
    margin-top: 40px;
  }
  .container.function {
    margin-bottom: 40px;
  }
}

.xmd-img-center {
  margin-left: -50px;
  padding-left: 50%;
  margin-bottom: 20px;
}
