<div class="container jx-container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <h2 class="text-center">发布新广告</h2>
      <p class="text-center">请按提示填写下方广告信息，*为必填项</p>
      <hr>

        <form class="form-horizontal panel-body" role="form" name="form" novalidate="novalidate">
          <div class="form-group">
            <fieldset class="col-sm-3 text-left">广告编号：</fieldset>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="(不可修改)" readonly="true">
            </div>
          </div>
          <div class="form-group">
            <fieldset class="col-sm-3 text-left">*广告标题：</fieldset>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="广告标题(不超过20字)" name="title" ng-maxlength="20" ng-model="draft.title" required>
            </div>
          </div>
          <div class="form-group">
            <fieldset class="col-sm-3 text-left">*广告内容：</fieldset>
            <div class="col-sm-9">
              <textarea class="form-control" placeholder="广告内容(不超过200字)" rows="3" name="content" ng-maxlength="200" ng-model="draft.content" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <fieldset class="col-sm-3 text-left">*广告类别：</fieldset>
            <div class="col-sm-9">
              <select class="form-control" ng-model="draft.advertType" ng-options="m.id as m.type for m in advertTypes">
              </select>
            </div>
          </div>
          <div class="form-group">
            <fieldset class="col-sm-3 text-left">*面向城市：</fieldset>
            <div class="col-sm-9">
              <select class="form-control" ng-model="draft.advertCity" ng-options="c.id as c.city for c in advertCities"></select>
            </div>
          </div>
          <!--TODO: 改成多选下拉框-->
          <div class="form-group">
            <fieldset class="col-sm-3 text-left">*投放地区：</fieldset>
            <div class="col-sm-9">
              <button class="btn btn-primary" name="places" ng-model="draft.places">地图选点</button>
            </div>
          </div>
          <div class="form-group">
            <fieldset class="col-sm-3 text-left">开始播放日期：</fieldset>
            <div class="col-sm-9">
              <input class="form-control" type="date" ng-model="draft.startDate" required>
            </div>
          </div>
          <div class="form-group">
            <fieldset class="col-sm-3 text-left">结束播放日期：</fieldset>
            <div class="col-sm-9">
              <input class="form-control" type="date" ng-model="draft.endDate" required>
            </div>
          </div>
          <div class="row button-group">
            <div class="col-xs-4">
              <button type="button" class="btn btn-danger btn-fluit">取消</button>
            </div>
            <div class="col-xs-4">
              <button type="button" class="btn btn-success btn-fluit">提交审核</button>
            </div>
            <div class="col-xs-4">
              <button type="button" class="btn btn-default btn-fluit" ng-click="saveDraft()">暂存草稿</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
