<div class="container jx-signup">
  <div class="row content">
    <div class="col-sm-offset-1 col-sm-4 ht-icon-box">
      <img src="../../assets/images/favicon.ico">
      <img src="../../assets/images/mad.png">
    </div>
    <div class="col-sm-4 col-sm-offset-1 ht-input-box">
      <form role="form">
        <div class="form-group">
            <div class="input-group ht-input">
                <span class="input-group-addon"><img src="../../assets/images/nickname.png"></span>
                <input type="password" class="form-control" placeholder="昵称" aria-describedby="basic-addon2" ng-model="nickname">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group ht-input">
                <span class="input-group-addon"><img src="../../assets/images/email.png"></span>
                <input type="password" class="form-control" placeholder="邮箱" aria-describedby="basic-addon2" ng-model="email">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group ht-input">
                <span class="input-group-addon"><img src="../../assets/images/password.png"></span>
                <input type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon2" ng-model="password">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group ht-input">
                <span class="input-group-addon"><img src="../../assets/images/confirm.png"></span>
                <input type="password" class="form-control" placeholder="确认密码" aria-describedby="basic-addon2" ng-model="passConfirm">
            </div>
        </div>

        <div class="ht-group">
          <div class="col-sm-6">
              <md-button class="ht-signup-btn" ng-click="register()">注册</md-button>
          </div>
          <div class="col-sm-6">
            <a href="#/login" class=""><span class="glyphicon glyphicon-arrow-left"></span>已有帐号？现在登录</a><br>
          </div>

        </div>
      </form>
    </div>
  </div>
  <hr>
  <footer class="home-footer">
    <div class="home-footer-text">
      <p>地址：上海市嘉定区曹安公路4800号</p>
      <!-- TODO: 添加url -->
      <p>&copy; 2016-2017  &middot; <a href="">移动的广告MAD</a> &middot; All rights reserved.</p>
    </div>
  </footer>
</div>
