<div class="container jx-container">
  <div class="row">

    <div class="col-md-offset-1 col-md-10">
      <h1 class="text-center">已发布广告</h1>
      <p class="text-center">您的已发布广告列表</p>
      <hr>
    </div>
    <!--TODO: search bar-->
    <div class="col-md-offset-1 col-md-10 panel panel-default">
      <div class="panel-body">
        <table st-table="advertCollection" st-safe-src="advertList" class="table table-striped">
          <thead>
            <tr>
              <th>广告编号</th>
              <th>广告标题</th>
              <th>广告状态</th>
              <th>创建时间</th>
              <th>查看广告详情</th>
              <th>修改广告</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in advertCollection">
            <td>{{row.number }}</td>
            <td>{{row.title}}</td>
            <td class="{{row.stateClass}}">{{row.state}}</td>
            <td>{{row.createTime}}</td>
            <td>
              <button ui-sref="app.advert.detail({advertId: row.id})" class="btn btn-success btn-sm">查看详情</button>
            </td>
            <td>
              <!--<button class="btn btn-danger btn-sm"  ng-show="row.canCancel">取消审核</button>-->
              <button class="btn btn-danger btn-sm"  ng-show="row.isDisableOff" ng-click="removeAdvertisementById(row.id)">下架</button>
              <button class="btn btn-primary btn-sm" ng-show="row.canSubmit" ng-click="submitAdvertisementById(row.id)">提交审核</button>
            </td>
          </tr>
          </tbody>
          <!--<tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-items-by-page="itemsByPage" st-pagination="" st-template="pagination.custom.html"></div>
                </td>
            </tr>
          </tfoot>-->
        </table>
      </div>
    </div>
  </div>
</div>

