/*001（正常/已通过审核）*/
.xmd-passed {
  color: forestgreen;
}
/*010 草稿*/
.xmd-draft {
  color: dodgerblue;
}
/*100 未审核*/
.xmd-notSubmitted {
  color: darkorange;
}
/*000 审核未通过*/
.xmd-notPassed {
  color: #FF0000;
}
/*101 广告被下架*/
.xmd-removed {
  color: grey;
}


/*投放中*/
.jx-putting {
  color: #228B22;
}

@media screen and (min-width: 970px) {
  .btn-margin {
    margin-left: 10px;
  }
}

@media screen and (max-width: 970px) {
  .btn-margin {
    margin-top: 10px;
  }
}
