<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mad</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ng-app="mad">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ui-view="header"></div>
    <div ui-view="content"></div>
    <div ui-view="footer"></div>
    
    <div id="signup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="row content">
                    <div class="col-sm-offset-1 col-sm-4 ht-icon-box">
                        <img src="../../assets/images/favicon.ico">
                        <img src="../../assets/images/mad.png">
                    </div>
                    <div class="col-sm-4 col-sm-offset-1 ht-input-box">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group ht-input">
                                    <span class="input-group-addon"><img src="../../assets/images/nickname.png"></span>
                                    <input type="password" class="form-control" placeholder="昵称" aria-describedby="basic-addon2" ng-model="nickname">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group ht-input">
                                    <span class="input-group-addon"><img src="../../assets/images/email.png"></span>
                                    <input type="password" class="form-control" placeholder="邮箱" aria-describedby="basic-addon2" ng-model="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group ht-input">
                                    <span class="input-group-addon"><img src="../../assets/images/password.png"></span>
                                    <input type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon2" ng-model="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group ht-input">
                                    <span class="input-group-addon"><img src="../../assets/images/confirm.png"></span>
                                    <input type="password" class="form-control" placeholder="确认密码" aria-describedby="basic-addon2" ng-model="passConfirm">
                                </div>
                            </div>
                            <div class="ht-group">
                            <div class="col-sm-6">
                                <md-button class="ht-signup-btn" ng-click="register()">注册</md-button>
                            </div>
                            <div class="col-sm-6">
                                <a href="#/login" class=""><span class="glyphicon glyphicon-arrow-left"></span>已有帐号？现在登录</a><br>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="login" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="row content">
                    <div class="col-sm-offset-1 col-sm-4 ht-icon-box">
                    <img src="../../assets/images/favicon.ico">
                    <img src="../../assets/images/mad.png">
                    </div>
                    <div class="col-sm-4 col-sm-offset-1 ht-login-box">
                    <form role="form">
                        <div class="form-group">
                            <div class="input-group ht-input">
                                <span class="input-group-addon"><img src="../../assets/images/email.png"></span>
                                <input type="email" class="form-control" placeholder="邮箱" aria-describedby="basic-addon2" ng-model="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group ht-input">
                                <span class="input-group-addon"><img src="../../assets/images/password.png"></span>
                                <input type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon2" ng-model="password">
                            </div>
                        </div>
                        <div class="ht-group">
                        <div class="col-sm-6">
                            <md-button class="ht-signup-btn"  ng-click="postFormData()">登录</md-button>
                        </div>
                        <div class="col-sm-6">
                            <a href="#/signup" class="a-1"><span class="glyphicon glyphicon-arrow-left"></span>没有账号？现在注册</a><br>
                            <a href="#" class="a-2"><span>忘记密码</span></a>
                        </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->
    <script src="../bower_components/amcharts3/amcharts/serial.js"></script>
    <script src="../bower_components/amcharts3/amcharts/themes/light.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
