<div class="container">
  <h1 class="text-center">财务对账</h1>
  <p class="text-center">在这里核对您的支出信息</p>

  <hr>

  <div class="row row-margin">
    <div class="col-xs-6 col-xs-3 col-xs-offset-3 col-md-2 col-md-offset-4">
      <p class="lsr-p-position">总支出: {{totalPay}} 元</p>
    </div>
    <div class="col-xs-6 col-md-3 col-md-2">
      <p class="lsr-p-position">总充值金额: {{totalTopUp}} 元</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>广告编号</th>
          <th>广告标题</th>
          <th>发布时间</th>
          <th>次数统计</th>
          <th>总花费(元)</th>
          <th>广告详情</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tableColumn in tableContent">
          <td ng-repeat="x in tableColumn track by $index">{{x}}</td>
          <td><button class="btn btn-sm btn-success" ui-sref="app.statistics.advertis">查看详情</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
